.layout-container {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content-container {
  padding: 4rem;
  background-color: rgb(245, 245, 245);
  border-radius: 4px;
  min-height: 53vh;
}
