.link {
  transition: all 0.2s;

  &:hover {
    color: #fff;
    font-size: 1.8rem;
    background-color: rgb(33, 71, 73);
    padding: 0.3rem;
  }
}

.likes-container {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
}

.likes,
.dislikes {
  background-color: rgb(212, 211, 211);
  padding: 1rem 10rem;

  li {
    list-style-type: none;
    padding: 0;
  }

  h4 {
    text-transform: uppercase;
    padding: 1rem;
  }
}
