.container {
  height: 45vh;
  overflow-y: scroll;
}

.blog-post {
  padding: 2rem 3rem;
  list-style-type: none;
  background-color: rgb(202, 200, 200);
  border-radius: 4px;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}
